<table>
  <thead>
    <tr>
      <th>Reviewer</th>
      <th>Score </th>
      <th>Recommendation</th>
      <th>Rent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=@review.user.name%></td>
      <td><%=@review.score%></td>
      <td><%=@review.recommendation%></td>
      <td><%=@review.monthly_fee%></td>
    </tr>
  </tbody>
</table>
