%h1 Listing buildings

%table
  %tr
    %th
    %th
    %th

  - @buildings.each do |building|
    %tr
      %td= link_to 'Review an Apartmnet in this Building', new_review_path(:bldg =>building)
      %td= link_to 'Show', building
      %td= link_to 'Edit', edit_building_path(building)

%br

= link_to 'New building', new_building_path
