%h1 What building is your apartment in?

%table
  %tr
    %th
      Address
    %th
    %th

  - @buildings.each do |building|
    %tr
      %td= building.address
      %td= link_to 'Add Apartment Review', new_review_path(:bldg =>building)


%h3
  = link_to "Don't see your building? Click here to add it'", new_building_path
