%section.search-results-page

  .container
    %h2.small-heading What building is your apartment in?

    = form_tag(buildings_path, :method => :get, :id => "buildings_search") do
      .field
        %label{:for => "address"} Address
        %input#search{:name => "search", :type => "text"}

  .sort-list
    .container
      %ul.row
        %li.span2
          %span.sort-item Address
        %li.span2
          %span.sort-item Score
        %li.span2
          %span.sort-item No. of Review
        %li.span2
          %span.sort-item Doorman
        %li.span2
          %span.sort-item Elevator
        %li.span2
          %span.sort-item Flags

  .search-results.alt-section

    %ul.container
      - if @buildings.blank?
        %li.no-results No buildings have been added to be reviewed
      - else
        #buildings
          = render "buildings"

    .section-decor

  %h3.add-listing
    = link_to "Don't see your building? Click here to add it", new_building_path, class: "btn btn-inverse btn-large"
