%h1 What building is your apartment in?

%table
  %tr
    %th
      Address
    %th
      Zipcode
    %th

  - @buildings.each do |building|
    %tr
      %td= building.address
      %td= building.zipcode
      %td= link_to 'Select an apartment to review', apartments_path(:bldg =>building)


%h3
  = link_to "Don't see your building? Click here to add it", new_building_path
