.sort-item  a {
  display: block;
  text-align: center;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color:black

}

.sort-item span .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sort-item span .asc {
  background-image: url(images/up_arrow.gif);
}

.sort-item span .desc {
  background-image: url(images/down_arrow.gif);
}

