@mixin ir($image, $width, $height) {
  width: $width;
  height: $height;
  background: url($image) 0 0 no-repeat;
  overflow: hidden;
  text-indent: -999em;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden; /* Prevent any content overflow */
  padding: 0;
  position: absolute; /* Remove from the flow of the document */
  width: 1px;
}
