.slider_panel

  - @rows.each do |row|
    -field = row.field_name

    .row
      .slider-label.span2
        %strong= hilows[field]["low"]

      .span8
        %p.title= field.titleize
        .slider-bar{:id => "#{field}"}

      .slider-label.span2
        %strong= hilows[field]["hi"]
