.slider_panel

  - @rows.each do |row|
    -field = row.field_name

    .row
      .slider-label.span2
        %strong= hilows[field]["low"]

      .span8
        .slider-bar{:id => "#{field}"}
          %p.label= field.titleize

      .slider-label.span2
        %strong= hilows[field]["hi"]
