.slider_panel

  .row
    .span2
      = hilows["cleanliness"]["low"]
    .span8
      #cleanliness.slider-bar
        %p Cleanliness
    .span2
      = hilows["cleanliness"]["hi"]
  #pests.slider-bar
    %p Pests
  #sunlight.slider-bar
    %p Sunlight
  #convenience.slider-bar
    %p Convenience
  #noise_level.slider-bar
    %p Noise Level
  #ceilings.slider-bar
    %p Ceilings
  #closet_space.slider-bar
    %p Closet Space
  #intercom_system.slider-bar
    %p Intercom
  #temp_control.slider-bar
    %p Temperature Control
  #appliances.slider-bar
    %p Appliances
  #countertops.slider-bar
    %p Countertops
  #floors.slider-bar
    %p Floors
  #bathrooms.slider-bar
    %p Bathrooms
  #walls.slider-bar
    %p Walls
  #utilities.slider-bar
    %p Utilities
  #neighbors.slider-bar
    %p Neighbors
  #laundry.slider-bar
    %p Laundry
  #mass_transit.slider-bar
    %p Mass Transit
  #neighborhood.slider-bar
    %p Neighborhood
  #storage.slider-bar
    %p Storage
  #packages.slider-bar
    %p Packages
  #super.slider-bar
    %p Super
-# #swatch.ui-widget-content.ui-corner-all
