.slider_panel
  - @rows.each do |row|
    -field = row.field_name
    .row
      .span2
        = hilows[field]["low"]
      .span8
        %div{:id =>"#{field}",:class => "slider-bar"}
          %p #{field.titleize}
      .span2
        = hilows[field]["hi"]
