.slider_panel

  - @rows.each do |row|
    -field = row.field_name

    .slider-group
      %p.slider-label= hilows[field]["low"]

      .slider-main
        %p.title= field.titleize
        .slider-bar{:id => "#{field}"}

      %p.slider-label= hilows[field]["hi"]
