.slider_panel

  - @rows.each do |row|
    -field = row.field_name

    .row
      .span2
        %strong= hilows[field]["low"]

      .span8

        %p.label= field.titleize
        .slider-bar{:id => field.titleize }

      .span2
        %strong= hilows[field]["hi"]
