.content-page.container
  %h2 Hi there!
  %p We’re HomeRefs, or we should say YOU are HomeRefs. We provide the tools for you to easily and comprehensively review your apartment. We think everyone should have a say, especially when it comes to the place they will live. So come in, explore and help us make this the best one stop shop for apartment reviews in New York City.
  %p
    Do you hate your landlord?
    %strong So do we!
    Are you tired of dealing with brokers?
    %strong So are we!
    Now you have the tools to put your own personalized touch on the NYC apartment scene and to help others make better decisions in finding their perfect homes.
  %p Quite simply, we are tired of brokers taking us around and telling us exactly what we want to hear so they can make a commission. Moreover, we have had it with landlords getting away with high rents, building problems and poor management. We think you should know exactly what you are getting into before signing your lease.
  %p There are a TON of apartment websites out there. But here at HomeRefs, we don’t think it’s our job to tell you what’s good and what’s not. We want you to tell us and we want you to tell each other. That’s why we developed a system so that everyone can have a say. We provide the tools, you provide the input – it’s that simple. Even better, each review takes 3 minutes or less. Take a sneak peak for yourself (How It Works). So have your say, throw a flag and let’s make this apartment process more transparent than the water in the Hudson! Well, you get the idea…
  %p Sincerely,

  %p The HomeRefs Team

  %p P.S. We are a lean startup and we believe the site’s users should drive this website. So if you choose, please help us by providing feedback so we can make the site better. If you want more, shoot us an email, tell us we stink, whatever is on your mind, after all you are the Refs not us (Contact Us).


