.content-page.container
  .row
    .span10.offset1
      %h2 Contact us:

      %p 646-820-2416
      %p= mail_to "info@homerefs.com", "info@homerefs.com"
      %p= link_to "Like us on Facebook", "www.facebook.com/HomeRefs"
      %p= link_to "Follow us on Twitter", "www.twitter.com/homerefs"


