.content-page.container
  %h3 Why do you hate brokers and landlords so much?
  %p Well, hate is a very strong word. However, we do feel they have gotten away with quite a bit. After all, we have experienced the worst of them first hand. They serve a need, just like we do. We just aim to hold everyone more accountable and we hope hearing from actual tenants will be the ticket to a better apartment search process in NYC.
  %h3
    What is in it for me? What’s the incentive?
  %p We believe that people have wanted this type of information for a long time and will also want to share their experiences. After all, we hope when you go to find your next place you use HomeRefs again so please contribute, besides we made it so easy! If that doesn’t sell you, how about just throwing a flag on your landlord, that is something we can all agree will be fun!
  %h3
    I am worried about identity, is it anonymous?
  %p Yes! Even though you get to have your say, we protect your name, email etc. Moreover, we don’t ask for your apartment number, we just want to know about your experience with the building. Privacy is very important to us- all submissions are completely anonymous and protected.
  %h3
    Can I fill out reviews of places I used to live?
  %p Of course. Though we hope your memory is fresh because we hope to give would-be tenants the most up-to-date and accurate look at their potential new building.
  %h3
    What if I have never lived in NYC?
  %p Well, then enjoy searching for reviews of your new place. Eventually, we hope you will give something back. Moreover, we hope to expand into new cities soon enough.
  %h3
    What’s the deal with the flags?
  %p Essentially at the end of every review you get to throw one of three flags. Green for recommend, yellow for neutral and red for would not recommend. Pretty simple.
  %h3
    When will you have alerts and listings?
  %p Soon! We promise. In the meantime, we need to convince building managers to list here. How can we do that? Well, we can show them people use HomeRefs. So please, take the time to explore, fill out some reviews, tell a few thousand people and let us know what you’re thinking. We promise we have some cool ideas on how we will list, stay tuned…
  %h3
    What about an app?
  %p Yes, that is coming soon also. Just bear with us, after all we are brand new!
  %h3
    What if I have suggestions on how to make this better?
  %p
    Then we want to hear about it! The good, the bad and the indifferent.
    %br
    %em
      At the end of every review you can give us feedback
      or just send us an
    = link_to 'email.', '/contact'
    %br
    Our feelings won’t be hurt. Besides, you guys are the HomeRefs, we are just giving you the tools. So make it yours!

