%p The HomeRefs system is easy to use.
%p We offer you a simple form to complete that will create a profile for your building. First, there is some general building information, which is only filled out the first time a building is added to the site. It takes no more than 30 seconds because it is all done with easily clickable dropdowns. 
%p (small pic of the form) (small pic of the top part: general info) 
%p Then, travel down the page and fill out the review. You don’t even have to type! All you do is drag the slidebars to where you think your place lies. 
%p (small pic of the slidebar section) (small pic of a zoomed in slidebar) 
%p We then give you the option to throw one of three flags based on whether or not you would recommend the building. Finally, if you want add a quick comment then poof, you are done!
%p (show pic of score) (show pic of feedback line) (show flags)
%p Oh, and here is the best part: you can now add up to 3 pictures of your place. Show the outside of the building or show the world a problem area, whatever you think matters most. 
%p (show gallery pic)
%p Once your review is complete, we generate a score based on your responses and add your review to the site. Your review then shows up in the (search for an apartment-link) section. HomeRefs users get to see the score, some general info on the building and the recommendation flags that have been thrown. 
%p (show search query pic)
%p It’s pretty simple and the best part is it’s entirely user generated! We have no say, brokers have no say, and landlords, well they aren’t going to be happy…awesome.
%p Pretty soon you will see our smartphone app and shortly thereafter we will have some rental listings (with no brokers involved!). Then we can really start this party! In the meantime, please take a few minutes to fill out some reviews, because without you we have nothing. 

Thanks again!

The HomeRefs Team


