.landing-page.container

  %h2.review-link
    = link_to buildings_path(:reviewer =>true), class: "big-link" do
      %span.decoration
      Review an Apartment

  %h2.search-link
    = link_to search_path, class: "big-link" do
      %span.decoration
      Search for a Review
